<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/AboutUs.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
</head>

<body>
    <%- include('partials/header1') %>

<section class="container">
    <section class="about-cont">
        <div style="display: flex;">
            <img src="recourses/AboutUsPNG/Device - Macbook Pro.jpg" style="object-fit: contain;width: 100%; align-self: center;" class="img1">
        </div>
        <div class="about-cont-right">
            <div class="title" style="font-size: 1.3rem;">درباره دکتر رزرو</div>
            <span class="title">نوبت‌دهی سریع و هوشمند برای پزشکان و بیماران</span>
            <p style="color: var(--Neutral_900);">دکتر رزرو یک پلتفرم مدرن و کاربرپسند برای مدیریت نوبت‌دهی پزشکان و بیماران است. ما با ارائه یک سیستم
                هوشمند، به پزشکان کمک می‌کنیم تا زمان‌های خود را بهتر مدیریت کنند و به بیماران این امکان را می‌دهیم که
                بدون اتلاف وقت، نوبت خود را به‌صورت آنلاین رزرو کنند.</p>
        </div>
    </section>
    <div class="title" style="margin-top: 3rem;">چرا دکتر رزرو؟</div>
    <div class="why-cont">
        <div class="why">
            <div
                style="font-weight: 700; display: flex; justify-content: center; align-items: center; text-align: center;">
                دسترسی ۲۴ ساعته به پزشکان<img src="/recourses/AboutUsPNG/vectors/clock-02.svg"
                    style="height: 2rem; bottom: 2px;"></div>
            <div
                style="font-weight: 300; font-size: 0.7rem;display: flex; justify-content: center; text-align: center;">
                در هر زمانی میتوانید نوبت خود را رزرو کنید </div>
        </div>
        <div class="why">
            <div
                style="font-weight: 700; position: relative; display: flex; justify-content: center; align-items: center; text-align: center;">
                اطمینان از انتخاب مجرب‌ترین پزشکان<img src="/recourses/AboutUsPNG/vectors/comment-01.svg"
                    style="height: 2rem; bottom: 2px;"></div>
            <div
                style="font-weight: 300; font-size: 0.7rem;display: flex; justify-content: center; text-align: center;">
                بهترین پزشکان را با توجه به نظرات کاربران انتخاب کنید</div>
        </div>
        <div class="why">
            <div
                style="font-weight: 700; position: relative; display: flex;  justify-content: center; align-items: center; text-align: center;">
                مدیریت و تغییر نوبت ها به راحتی<img src="/recourses/AboutUsPNG/vectors/setting-04.svg"
                    style="height: 2rem; bottom: 2px;"></div>
            <div
                style="font-weight: 300; font-size: 0.7rem;display: flex; justify-content: center; text-align: center;">
                توانایی لغو، تغییر و مدیریت نوبت ها به راحتی</div>
        </div>
    </div>

    <div class="title" style="margin-top: 3rem;">اطلاعات تماس</div>
    <div class="callinfo-cont">
        <div class="callinfo">
            <div class="number"><span>۰۲۱-۷۷ ۴۲۵۸۶۷</span><span>۰۲۱-۷۷ ۴۲۵۸۶۸</span></div>
            <div class="info-right">
                <div style="width: max-content; font-weight: 500;">جهت شکایات و انتقادات</div><img
                    src="/recourses/AboutUsPNG/vectors/phone 3.svg" style="height: 1.5rem;">
            </div>
        </div>
        <div class="callinfo">
            <div class="number"><span>۰۹۱۲ ۳۴۵ ۶۷۸۹</span><span>۰۹۱۲ ۳۴۵ ۶۷۹۰</span></div>
            <div class="info-right">
                <div style="width: max-content; font-weight: 500;">جهت مشاوره</div><img
                    src="/recourses/AboutUsPNG/vectors/smart-phone-01-stroke-rounded 1.svg" style="height: 1.5rem;">
            </div>
        </div>
    </div>
    <section class="about-cont2">
        <div class="about-cont2-left">
            <div class="title">تکنولوژی در خدمت سلامت</div>
            <p  style="color: var(--Neutral_900);">ما با استفاده از فناوری‌های روز، فرایند نوبت‌دهی پزشکی را به سطحی جدید ارتقا داده‌ایم. دکتر رزرو با
                بهره‌گیری از الگوریتم‌های هوشمند، سیستم یادآوری خودکار و داده‌های ایمن‌شده، بستری مطمئن و سریع برای
                دریافت خدمات پزشکی فراهم کرده است<br>
                طراحی کاربرپسند و دسترسی آسان به اطلاعات، باعث شده تا بیماران بدون پیچیدگی‌های اضافی و در کمترین زمان،
                نوبت موردنظر خود را رزرو کنند. همچنین، پزشکان می‌توانند با مدیریت دقیق‌تر زمان‌های خود، بهره‌وری بیشتری
                داشته باشند
                <br>
                با دکتر رزرو، نوبت‌دهی دیگر یک چالش نیست، بلکه تجربه‌ای راحت، سریع و بدون دغدغه است.</p>
        </div>
        <div class="about2-img-container">
            <img src="/recourses/AboutUsPNG/about-cont2.png" alt="">
        </div>
    </section>
    <div class="title">افتخارات و دستاوردهای ما</div>
    <div class="eftekharat">
        <div class="eftekhar">
            <span class="title" style=" display: flex; flex-direction: row-reverse; align-items: center; font-size: 1rem;">۳ هزار<span>+</span></span><span style="color: #5D5D5D; font-weight: 300; font-size: 0.8rem;">کلینیک فعال</span>
        </div>
        <div class="eftekhar">
            <span class="title" style=" display: flex; flex-direction: row-reverse; align-items: center; font-size: 1rem;"> ۵۰۰ هزار<span>+</span></span><span style="color: #5D5D5D; font-weight: 300; font-size: 0.8rem;"> نوبت ثبت‌شده</span>
        </div>
        <div class="eftekhar">
            <span class="title" style=" display: flex; flex-direction: row-reverse; align-items: center; font-size: 1rem;">۲ هزار<span>+</span></span><span style="color: #5D5D5D; font-weight: 300; font-size: 0.8rem; width: max-content;">  متخصص تاییدشده</span>
        </div>
        <div class="eftekhar">
            <span class="title" style=" display: flex; flex-direction: row-reverse; align-items: center; font-size: 1rem;">۱۰۰ هزار<span>+</span></span><span style="color: #5D5D5D; font-weight: 300; font-size: 0.8rem; ">کاربر فعال</span>
        </div>
    </div>
</section> 

    <%- include('partials/footer') %>

</body>
<script>
</script>
</html>