<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style4.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap" rel="stylesheet">    
</head>
<body>
    <form class="container" method="post" action="/login">
        <div class="logo">
            <img src="/recourses/vectors/Human-body.png">
        </div>
        <h1>به دکتر رزرو خوش آمدید</h1>
        <p>کد ارسال شده به اکانت ایمیل خود را وارد کنید</p>
        
        <div class="code-inputs">
            <input type="text" class="code-input" maxlength="1" name="code1">
            <input type="text" class="code-input" maxlength="1" name="code2">
            <input type="text" class="code-input" maxlength="1" name="code3">
            <input type="text" class="code-input" maxlength="1" name="code4">
            <input type="text" class="code-input" maxlength="1" name="code5">
        </div>
        <div class="error-message" id="errorMessage">کد وارد شده اشتباه است</div>        
        <div class="timer" id="timer">01:00 تا دریافت مجدد کد</div>
        <button class="btn" id="verifyBtn">ورود</button>
    </form> 
    <script>
        const inputs = document.querySelectorAll(".code-input");
        const verifyBtn = document.getElementById("verifyBtn");
        const timerElement = document.getElementById("timer");
        const errorMessage = document.getElementById("errorMessage");

        let time = 59;

        const countdown = setInterval(() => {
            let minutes = Math.floor(time / 60);
            let seconds = time % 60;

            if (seconds < 10) seconds = "0" + seconds;

            timerElement.textContent = `${minutes}:${seconds} تا دریافت مجدد کد`;

            if (time <= 0) {
                clearInterval(countdown);
                timerElement.textContent = "کد تائید دوباره ارسال شد";
            }

            time--;
        }, 1000);
        inputs.forEach((input, index) => {

            input.addEventListener("input", () => {
                input.classList.remove("error");
                errorMessage.style.display = "none";

                if (input.value.length === 1 && index < inputs.length - 1) {
                    inputs[index + 1].focus();
                }
            });

            input.addEventListener("keydown", (e) => {
                if (e.key === "Backspace" && input.value === "" && index > 0) {
                    inputs[index - 1].focus();
                }
            });
        });

        verifyBtn.addEventListener("click", () => {
            let code = "";
            inputs.forEach(input => code += input.value);

            const correctCode = "12345";

            if (code !== correctCode) {
                inputs.forEach(input => input.classList.add("error"));
                errorMessage.style.display = "block"; 
            }
        });
    </script>
</body>
</html>