<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style3.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap" rel="stylesheet">    
</head>
<body>
    <%- include('partials/header1') %>

    <div class="container">
        <div class="logo">
            <img src="resources\logo\logo b.png">
        </div>
        <h1>به دکتر رزرو خوش آمدید</h1>
        <p>برای ادامه اکانت ایمیل خود را وارد نمایید</p>
        
        <div class="input-group">
            <label for="phone">اکانت ایمیل</label>
            <input type="tel" id="phone" placeholder="doctor@gmail.com:مثال">
        </div>
        <a class="btn">دریافت کد تایید</a>
    </div>
    
    <%- include('partials/footer') %>

</body>
</html>