<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap" rel="stylesheet">    
</head>
<body>
<<<<<<< HEAD
    <%- include('partials/header1') %>

    <div class="container">
=======
    <form class="container" method="post" action="/login/code">
>>>>>>> bc545376cafd577a165b0054bc3a3d8385be2f4c
        <div class="logo">
            <img src="images/logo b.png">
        </div>
        <h1>به دکتر رزرو خوش آمدید</h1>
        <p>برای ادامه شماره موبایل خود را وارد نمایید</p>
        
        <div class="input-group">
            <label for="phone">شماره موبایل</label>
            <input type="tel" id="phone" placeholder="مثال: ۰۹۱۲۳۴۵۶۷۸۹" name="phoneNumber">
        </div>
<<<<<<< HEAD
        <a class="btn">دریافت کد تایید</a>
    </div>

    <%- include('partials/footer') %>
    
=======
        <a href="/signUp_page">ثبت نام نکرده اید؟</a>
        <button class="btn">دریافت کد تایید</button>
    </form>
>>>>>>> bc545376cafd577a165b0054bc3a3d8385be2f4c
</body>
</html>