<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient</title>
    <link rel="stylesheet" href="/css/user.css">
    <link
        href="https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
</head>

<body>
        <a dir="ltr" href="" style="display: flex; justify-content: end; gap: 0.5rem;align-self:flex-end; max-width: 1400px; text-decoration: none;" class="a-bazgasht">
            <div class="bazgasht"style="margin-top: 2rem; display: flex; justify-content: end; gap: 0.5rem; width: 100%; max-width: 1400px; margin-bottom: 1.7rem; padding: 0 1rem;">
                <span style="color: #3D3D3D; font-weight: bold; font-size:23px;line-height: 120%; cursor: pointer;">مشخصات بیمار</span>
                <img src="resources\logo\right-icon-circle.svg" alt="">
            </div>  
        </a> 



<div class="profile-wrapper">

    <div class="info-grid">

        <div class="info-item">
            <div class="label">نام</div>
            <div class="value"><%=data.firt_name%></div>
        </div>

        <div class="info-item">
            <div class="label">نام خانوادگی</div>
            <div class="value"><%=data.last_name%></div>
        </div>

        <div class="info-item">
            <div class="label">استان</div>
            <div class="value">آذربایجان شرقی</div>
        </div>

        <div class="info-item">
            <div class="label">تبریز</div>
            <div class="value">تهران</div>
        </div>

        <div class="info-item">
            <div class="label">آدرس کامل</div>
            <div class="value">تبریز خیابان آزادی، پلاک ۱۲</div>
        </div>

        <div class="info-item">
            <div class="label">شماره موبایل</div>
            <div class="value"><%=data.phone%></div>
        </div>

        <div class="info-item">
            <div class="label">ایمیل</div>
            <div class="value"><%=data.userInfo[0].email%></div>
        </div>

    </div>

</div>

</body>
</html>
