<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/flow2.css">
</head>

<body>

    <%- include('partials/header1') %>
    <main class="main">
        <div class="title-cont" style=" width: clamp(900px, 60vw, 1000px);;">
            <div
                style="margin-top: 6.5rem; display: flex; justify-content: end; gap: 0.5rem;flex: 0.5;align-self:flex-end; margin-bottom: 1.7rem;">
                <span style="color: var(--Neutral_900); font-weight: bold;font-size: 1.6rem;">انتخاب مراجع</span><img
                    src="recourses/vectors/right-icon-circle.svg" alt="">
                
            </div>
        </div>
        <div class="right-m">
            <div class="flow-top">
                <div class="doctor-bio">
                    <div class="code-nezam" style="text-align:left; width: 100%;"><span style="position: relative; top: -.4rem; "><span
                                style="color:var(--Neutral_800) ;" >کد نظام پزشکی: </span><span
                                style="color: var(--Neutral_500);">۴۰۲۲۳</span></span><img style="height: 1.4rem; "
                            src="/recourses/vectors/CheckCircle.svg" alt=""></div>
                    <div class="left-lables">
                        <div class="title">دکتر زهرا وارسته</div>
                        <div style="margin-top: 10px; color:#262626; width: 100%; text-align: right;">متخصص قلب و عروق</div>
                        <div style="margin-top: 10px; color:#454545 ; align-self: end;">(۱۰۵ نظر)</div>
                    </div>
                    <div class="flow-img"><img src="./recourses/Picture.png" alt="" style="height: 100%;"></div>
                </div>
                <div style="display: flex; justify-content: end; gap: 1rem; margin-top: 1rem; color: #262626; font-weight: 600;">آدرس مطب:
                    تهران، ستارخان،
                    خیابان هفتم، پلاک ۴۰<img src="./recourses/vectors/map-pinpoint-02.svg" alt=""></div>
                <div style="display: flex; justify-content: end;; gap: 1rem; margin-top: 1rem;">
                    <div style="font-weight: 700; color: #262626;"> دوشنبه ۲۴ دی</div><span style="color: #6D6D6D;"> :
                        اولین نوبت در دسترس</span><img src="./recourses/vectors/alarm-clock.svg" alt="">
                </div>
            </div>
        </div>
        <section class="visit-section" dir="rtl">
            <h2 class="visit-title">مراجعه کننده <br><p class="visit-subtitle">برای چه کسی نوبت می‌گیرید؟</p></h2>
            

            <div class="visit-card">
                <label class="visit-option">
                    <input type="radio" name="patient" checked>
                    <div class="option-content">
                        <span class="option-name">علی مهدوی (خودم)</span>
                        <span class="option-phone">۰۹۱۲۳۴۵۶۷۸۹</span>
                    </div>
                    <span class="radio-indicator"></span>
                </label>

                <button class="add-person-btn">
                    دریافت نوبت برای شخص دیگر 
                    <img src="./recourses/vectors/add-01.svg" alt="add" class="add-icon">
                </button>
            </div>

            <div class="visit-actions">
                <a class="visit-continue" href="/flow3">ادامه<img src="./recourses/vectors/arrow-left-01-sharp.svg" alt=""></a>
            </div>
        </section>
    </main>

<%- include('partials/footer') %>

</body>

</html>