*{
  box-sizing:border-box;
  font-family:"Vazirmatn","Inter",system-ui;
}

html,body{
  margin:0;
  background:linear-gradient(to bottom,#f8fafc,#f0f5fb);
  display:flex;
  align-items:center;
  justify-content:center;
  min-height:100vh;
  direction:rtl;
}
.card{
  width:100%;
  max-width:920px;
  background:#ffffff;
  border-radius:16px;
  box-shadow:0 10px 40px rgba(15,23,42,.08);
  padding:40px 48px;
  border:1px solid #f1f5f9;
  overflow:hidden;
  scale:.8;
}
.form-subtitle{
  color:#64748b;
  font-size:16px;
  margin-bottom:20px;
  margin-top: 10px;
}

form{
  display:flex;
  flex-direction:column;
  gap:20px;
}

.form-row{
  display:grid;
  grid-template-columns:repeat(2,minmax(0,1fr));
  gap:18px;
}

.form-row.full{
  grid-template-columns:1fr;
}

.form-group{
  display:flex;
  flex-direction:column;
  gap:8px;
}

label{
  font-size:14px;
  font-weight:600;
  color:#0f172a;
  
}

input{
  width:100%;
  padding:12px 14px;
  font-size:15px;
  font-weight:400;
  color:#0f172a;
  border:1.5px solid #e2e8f0;
  border-radius:10px;
  background:#f1f5f9;
  transition:.18s ease;
}

input:focus{
  outline:none;
  background:#fff;
  border-color:#3b82f6;
  box-shadow:0 0 0 4px #eff6ff;
}
.password-wrap{
  position:relative;
  display:flex;
  align-items:center;
}

.password-wrap input{
  padding-left:42px;
}

.toggle-pass{
  position:absolute;
  left:12px;
  border:none;
  background:none;
  cursor:pointer;
  font-size:16px;
  color:#64748b;
}

.toggle-pass:hover{
  color:#3b82f6;
}

.btn{
  width:100%;
  padding:14px;
  font-size:16px;
  font-weight:700;
  color:#fff;
  background:#2563eb;
  border:none;
  border-radius:10px;
  cursor:pointer;
  transition:.18s ease;
}

.btn:hover{
  transform:translateY(-3px);
  box-shadow:0 10px 30px rgba(37,99,235,.22);
}

.error{
  font-size:13px;
  color:#ef4444;
  min-height:18px;
}
.logo{   
    display:flex;   
    align-items:center;   
    gap:5px;   
    text-decoration:none;   
    color:#1e73ff;   
    font-weight:700;   
    font-size:20px;   
    margin-bottom: 15px; 
} 
.logo-img{ 
    height: 60px;
}
@media (max-width:580px){
  .form-row{grid-template-columns:1fr}
  .card{scale:unset}
}