*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Vazirmatn',sans-serif;
}

body{
    background:#ffffff;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.card{
    background:#ffffff;
    width:100%;
    max-width:500px;
    padding:3rem 2rem;
    border-radius:18px;
    border:1px solid #E7E7E7;
    box-shadow:0 10px 40px rgba(15,23,42,.08);
    text-align:center;
}

h1{
    margin-bottom:0.7rem;
    font-size:1.6rem;
    color:#1f2937;
}

p{
    margin-bottom:2.5rem;
    color:#6b7280;
    font-size:0.95rem;
}

.role-container{
    display:flex;
    gap:1.5rem;
}

.role-box{
    flex:1;
    padding:2rem 1rem;
    border:1px solid #E7E7E7;
    border-radius:16px;
    text-decoration:none;
    color:#1f2937;
    transition:0.25s;
    font-size:1.1rem;
    font-weight:500;
}

.role-box:hover{
    border-color:#4179F0;
    background:rgba(65,121,240,0.06);
    color:#4179F0;
    transform:translateY(-4px);
    box-shadow:0 10px 20px rgba(65,121,240,0.08);
}
img{
    margin-bottom: 20px;
}

/* ریسپانسیو */
@media(max-width:600px){
    .role-container{
        flex-direction:column;
    }
}