body{
    margin:0;
    font-family: "Vazirmatn", sans-serif;
}
 *{box-sizing:border-box}

.site-header{
    font-family: "Vazirmatn", sans-serif;
    width:100%;
    height: 88px;
    background:#FFFFFF;
    padding:12px 28px;
    box-shadow: 0 2px 6px rgba(16,24,40,0.06);
    display:flex;
    align-items:center;
    justify-content:space-around;
    gap:30px;
    
 }

.logo{
    display:flex;
    align-items:center;
    gap:5px;
    text-decoration:none;
    color:#1e73ff;
    font-weight:700;
    font-size:18px;

}

.links{
    display:flex;
    gap:40px;
    align-items:center;
}
.links a{
    text-decoration:none;
    color:#262626;
    font-size:14px;
    font-weight: 400;
    transition: color .15s ease, transform .12s ease;
}
.links a:hover{
    color:#1e73ff;
    transform:translateY(-1px);
}

.profile{
    display:flex;
    align-items:center;
    gap:10px;
}

.profile .name{
    font-size:12px;
    color:#3D3D3D;
}
.avatar{
    width:34px;
    height:34px;
    border-radius:50%;
    overflow:hidden;
    flex:0 0 34px;
    box-shadow:0 1px 4px rgba(0,0,0,0.06);
    display:inline-block;
}
.avatar img{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
}

 @media (max-width:860px){
.links{
    gap:18px;
    font-size:13px 
    }
.site-header{ padding:10px 14px }
 }
 @media (max-width:650px){

.links{
    display:none 
}
}
/*------------------------------*/
.section1{
    font-family: "Vazirmatn", sans-serif;
    width: 100%;
    height: 300px; 
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-bottom: 20px;  
}
.searchbox {
    width:100%;
    height: 300px;
    background: url('../images/searchdoctor.png') center/cover no-repeat;
    position: relative;
    z-index: 2;
    text-align: center; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}
.searchbox * {
    position: relative;
    z-index: 2;}
        
.searchbox::before {         
    content: "";      
    position: absolute; 
    inset: 0;       
    background: rgba(0, 0, 0, 0.45);
    z-index: 1    
}


.searchbox h2 {
    font-size: 31px;
    font-weight: 500;
    margin-bottom: 10px;
    color:#FFFFFF ;
    margin-top: 0px;
}

.searchbox p {
    font-size: 19px;
    font-weight: 300;
    margin-bottom: 25px;
    color:#FCFCFC ;
}

/* .matnn {
    width: 100%;           
    padding: 10px 15px;   
    box-sizing: border-box;
    direction: rtl;       
    text-align: right;     
    font-size: 16px;       
}


.matnn::placeholder {
    color: #999;           
    text-align: right;     
    opacity: 1;            
} */



.search {
    display: flex;
    align-items: center;
    background: #F0F0F0;
    border-radius: 16px;
    padding: 10px 15px;
    width: 50%;
    height: 53px;
    margin: 0 auto;
    margin-bottom: 15px;
}



.search input {
    border: none;
    text-align: end;
    outline: none;
    flex: 1;
    font-size: 14px;
    font-family: "Vazirmatn", sans-serif;
    color: #888888;
    background: transparent;
}

.search input::placeholder {
    color: #888888;
    font-family: "Vazirmatn", sans-serif;
}
/*------------------------------*/
.section2{
    display: flex;
    justify-content: center;
    font-family: "Vazirmatn", sans-serif;
    width: 100%;
}
.section2-in{
    width: 89%;
    display: flex;
    justify-content: center;
    gap: 20px;
}
.filter-box {
    width: 289px;
    background: #fff;   
    border: 1px solid #E7E7E7;     
    border-radius: 10px;      
    padding: 15px;     
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);   
}   
.filter-header {    
    display: flex;    
    justify-content: space-between;    
    align-items: center;   
    margin-bottom: 20px   
}   
.filter-header h3 {   
    font-size: 16px;   
    margin: 0;   
    font-weight: 600; 
}   
.filter-header a {  
    font-size: 13px;  
    background-color:#F0F5FE ;  
    padding: 5px 10px;        
    border-radius: 50px;
    font-weight: 500;  
    color: #4179F0;   
    text-decoration: none; 
} 
.label1{     
    display: block;    
    font-size: 12px;
    color: #888888;
    margin-top: 5px;        
}
label {
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: #262626;
    margin-bottom: 12px;      
}
 select {
    width: 100%;
    height: 48px;
    font-family: "Vazirmatn", sans-serif;
    padding: 8px;
    color:#6D6D6D ;
    border: 1px solid #E7E7E7;
    border-radius: 8px;
    font-size: 13px;
    outline: none;
}
.filterbox-in input[type="text"]{
    width: 100%;
    height: 48px;
    font-family: "Vazirmatn", sans-serif;
    padding: 8px;
    color:#6D6D6D ;
    border: 1px solid #E7E7E7;
    border-radius: 8px;
    font-size: 13px;
    outline: none;
}
select {
    appearance: none; 
    -moz-appearance: none;
    -webkit-appearance: none;
    background: #fff url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='6' viewBox='0 0 10 6'%3E%3Cpath fill='%236D6D6D' d='M5 6L0 0h10z'/%3E%3C/svg%3E") no-repeat left 12px center;
    background-size: 10px;
    padding-left: 30px; 
}
input[type="checkbox"] {  
    margin-left: 6px; 
} 
.checkbox-group label {   
    display: flex;   
    align-items: center;   
    font-size: 14px;   
    font-weight: 400;   
    margin-bottom:6px;   
    color: #6D6D6D;   
    cursor: pointer;  
}  
.checkbox-group{  
    margin-top:8px  
}      
.button {  
    width: 100%;  
    background: #2563eb;  
    font-family: "Vazirmatn", sans-serif;  
    color: white;  
    padding: 9px;  
    border: none;  
    border-radius: 8px;  
    font-size: 14px;  
    cursor: pointer;  
}  
button:hover {  
    background: #1d4ed8;  
}  
.gender {  
    display: flex;  
    align-items: center;  
    gap: 20px;  
    margin-bottom: 12px; 
} 
.gender label {  
    font-size: 13px;  
    display: flex;  
    align-items: center;  
}  
hr{  
    border: none;  
    border-top: 1px solid #E7E7E7;  
    margin: 12px 0px;  
}

.doctor-grid {
    border: 1px solid #E7E7E7; 
    border-radius: 12px; 
    padding: 20px;
}

.doctor-row {
    margin-top: 0px;
}






.sectionone{
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}
.sectionone-in{
    box-sizing: content-box !important;        
    font-family: "Vazirmatn", sans-serif;          
    width: 882px;          
    height: 330px;          
    display: flex;         
    justify-content: center;         
    align-items: center;          
    border: 1px solid #E7E7E7;           
    border-radius: 12px;       
}
.angry-grid {
    width:95%;
    height:87%;
    display: grid; 
    grid-template-rows: 160px 1fr 40px;
    grid-template-columns:1fr 194px;
    grid-template-areas: 
    'label2 label0'
	'label3 label3'
	'label1 label1';
    gap: 0px;
   
}
  
#item-0 { 
   grid-area: label0;
   
}
#item-1 { 
   grid-area: label1;
   display: flex;
   justify-content: center;
   align-items: center;
   
}

.doctor-image {
   display: inline;
}

.doctor-main-info {
    display: inline;
}

.time {
    margin-bottom: 20px;
}
.btn1 {
    display: inline-block;
    padding: 7px 140px;
    background-color:#FFFFFF ;
    color: #4179F0;
    border: 1px solid #E7E7E7;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
    transition: all 0.3s ease;
}

.btn1:hover {
    background-color: #4179F0;
    border: 1px solid #4179F0;
    color: #FFFFFF;
}
.btn2 {
    display: inline-block;
    padding: 7px 140px;
    background-color:#4179F0 ;
    color: #FFFFFF;
    border: 1px solid #4179F0 ;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 500;
    font-size: 15px;
    transition: all 0.3s ease;
    margin-left: 10px;
}

.btn2:hover {
    background-color: #FFFFFF;
    border: 1px solid #E7E7E7 ;
    color: #4179F0;
}
#item-2 {
   grid-area: label2;
   border-bottom:1px solid #E7E7E7 ;
   
}
.doctor-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 15px;
}

.doctor-name {
    font-size: 20px;
    font-weight: 600;
    color: #000;
}

.doctor-code {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 17px;
    font-weight: 500;
    color: #333;
}

.check-icon {
    width: 18px;
    height: 18px;
}

.doctor-info {
    text-align: right;
    margin-top: 12px;
    margin-right:15px ;
}

.doctor-specialty {
    margin: 0;
    font-size: 15px;
    color: #555;
}

.rating {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
    color: #777;
    font-size: 13px;
}

.stars {
    color: #f7b500;
    font-size: 16px;
}

#item-3 { 
   grid-area: label3;
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   justify-content:center;
   gap: 10px;
}
.address{
    font-size:14px ;
    font-weight: 500;
    color:#262626 ;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-right: 10px;        
} 
.time{
    font-size:14px ;
    font-weight: 500;
    color:#262626 ;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-right: 10px;
} 
/*------------------------------*/
.footer{
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}

.footer-top{
    display:flex; 
    gap:40px;
    width: 88%;
    align-items: flex-start;
    padding:36px 0;
    border-bottom:1px solid #E7E7E7}

.div3{
    flex:1;
    min-width:220px
}
.quick-links{
    color:#9aa0a6;
}
.quick-links h4{
    color:#3D3D3D;
    font-size:15px ; 
    font-weight:700 ;
    margin-top: 0px; 
    margin-bottom:30px
}
.quick-links ul{
    list-style:none;
    padding:0;
    margin:0;
    display:flex;
    flex-direction:column;
    gap:10px
}
.quick-links li{
    cursor:pointer;
    font-size: 13px; 
    font-weight:400;
}
.legal{
    color:#9aa0a6;
}
.legal h4{
    color:#3D3D3D;
    font-size: 15px;
    margin-top: 0px; 
    font-weight:700;
    margin-bottom:30px
}
.legal p{
    margin:0;
    font-size: 13px; 
    font-weight:400;
}
.cocontact{
    flex:0.7;
    min-width:220px
}
.contact{
    display:flex;
    flex-direction:column;
    gap:18px;
    align-items:center
}
.group{
    display:flex;
    flex-direction:column;
    gap:8px;
    margin-bottom: 8px; 
    align-items:center
}
.group h4{
    color:#3D3D3D;
    font-size: 15px;
    margin-top: 0px; 
    font-weight:700;
}
.group svg{
    opacity:0.9
}
    
.phones{
    font-size:13px;
    color:#9aa0a6;
    line-height:1.6;
    text-align:center
}
.code{
    flex:1.04;
    height: 224px; 
    min-width:220px
}
.subscribe-card{
    background:#f7f8fa;
    height: 224px;; 
    padding:30px 22px 22px 22px;
    border-radius:12px;
    box-shadow: 0 6px 18px rgba(15,23,42,0.04);;
    max-width:420px
}
    
.subscribe-card h4{
    margin:0 0 12px 0;
    color:#1f2937 ;
    font-size: 16px;
    font-weight: 400;
}
.input-row{
    display:flex;
    height: 43.5px;
    width: 93%; 
    align-items:center
}
    
.input-row input{
    flex:1;
    padding:10px 12px;
    height: 43.5px;    
    font-family:"Vazirmatn", sans-serif;
     border:1.5px solid #e6e9ef;
     border-radius:0px 6px 6px 0px;
     background:#ffffff
    }
    
.send-btn{
    background:#4179F0;
    color:#fff;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    height: 43.5px; 
    padding:12px 14px;
    margin-left:10px;
    border:none;
    display:inline-flex;
    align-items:center;
    justify-content:center
}
    
.desc{
    color:#9aa0a6;
    font-size:14px;
    margin-top:15px;
    line-height:1.7
} 
.footer-bottom{
    display:flex;
    width: 88%;
     align-items:center;
     justify-content:space-between;
     padding:20px 0
}
.brand{
    display:flex;
    align-items:center;
    gap:0px
}
.brand .logo{
    font-weight:700;
    color:#111827;
    font-size:18px
}
.brand .plus{
    margin-top: 12px;
}
.socials{
    display:flex;
    gap:5px;
    align-items:center
}
.socials button{
    border:none;
    background:transparent;
    cursor:pointer;
    padding:6px
}
.icon{
    width:22px;
    height:22px;
    opacity:0.95
}

@media (max-width:900px){
    .footer-top{flex-direction:column;gap:18px}
    .contact{flex-direction:row;justify-content:space-around;width:100%}
    .subscribe-card{max-width:100%}
    .footer-bottom{flex-direction:column;gap:12px;align-items:flex-start}
}