body{
    margin:0;
    font-family: "Vazirmatn", sans-serif;            
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
* {           
    margin: 0;           
    padding: 0;          
    box-sizing: border-box;  
}                
.container {         
    background-color: rgb(255, 255, 255);        
    border-radius: 10px;       
    width: 100%;       
    max-width: 400px;       
    padding: 30px;       
    text-align: center;   
}         
.logo {   
    margin-bottom: 20px;   
}          
h1 {      
    color: #333;            
    margin-bottom: 10px;              
    font-size: 24px;     
}          
p {      
    color: #666;      
    margin-bottom: 30px;      
    font-size: 16px;      
    line-height: 1.6;     
}          
.code-inputs {       
    display: flex;       
    justify-content: center;       
    gap: 10px;       
    margin-bottom: 25px;       
    direction: ltr;     
}           
.code-input {         
    width: 50px;        
    height: 50px;               
    border: 1px solid #ddd;         
    border-radius: 5px;                 
    text-align: center;      
    font-size: 18px;                   
    font-weight: 500;      
}        
.timer {        
    color: #666;        
    margin-bottom: 40px;        
    font-size: 16px;   
}     
.btn {         
    background-color: #4179F0;         
    color: rgb(255, 255, 255);         
    border: none;         
    border-radius: 10px;         
    padding: 12px 60px;         
    font-size: 16px;        
    cursor: pointer;   
    width: 100%; 
    transition: background-color 0.3s;
    font-family: 'vazirmatn';
}
.error { 
    border-color: red ; 
}
.error-message {          
    color: red;          
    font-size: 14px;           
    margin-bottom: 15px;            
    display: none;
}
@media (max-width:750px){        
.container {         
    background-color: rgb(255, 255, 255);        
    border-radius: 10px;       
    width: 100%;       
    max-width: 400px;       
    padding: 0px;       
    text-align: center;   
}         
.logo {   
    margin-bottom: 20px;   
}          
h1 {      
    color: #333;            
    margin-bottom: 10px;              
    font-size: 20px;     
}          
p {      
    color: #666;      
    margin-bottom: 30px;      
    font-size: 12px;      
    line-height: 1.6;     
}          
.code-inputs {       
    display: flex;       
    justify-content: center;       
    gap: 10px;       
    margin-bottom: 25px;       
    direction: ltr;     
}           
.code-input {         
    width: 40px;        
    height: 40px;               
    border: 1px solid #ddd;         
    border-radius: 5px;                 
    text-align: center;      
    font-size: 18px;                   
    font-weight: 500;      
}        
.timer {        
    color: #666;        
    margin-bottom: 40px;        
    font-size: 16px;   
}     
.btn {         
    background-color: #4179F0;         
    color: rgb(255, 255, 255);         
    border: none;         
    border-radius: 10px;         
    padding: 12px 60px;         
    font-size: 16px;        
    cursor: pointer;   
    width: 100%; 
    transition: background-color 0.3s; 
}    
}
 