/* 

.site-header{
    font-family: "Vazirmatn", sans-serif;
    width:100%;
    height: 88px;
    background:#FFFFFF;
    padding:12px 28px;
    box-shadow: 0 2px 6px rgba(16,24,40,0.06);
    display:flex;
    align-items:center;
    justify-content:space-around;
    gap:30px;
 }

.logo{
    display:flex;
    align-items:center;
    gap:5px;
    text-decoration:none;
    color:#1e73ff;
    font-weight:700;
    font-size:18px;

}

.links{
    display:flex;
    gap:40px;
    align-items:center;
}
.links a{
    text-decoration:none;
    color:#262626;
    font-size:14px;
    font-weight: 400;
    transition: color .15s ease, transform .12s ease;
}
.links a:hover{
    color:#1e73ff;
    transform:translateY(-1px);
}

.profile{
    display:flex;
    align-items:center;
    gap:10px;
}

.profile .name{
    font-size:12px;
    color:#3D3D3D;
}
.avatar{
    width:34px;
    height:34px;
    border-radius:50%;
    overflow:hidden;
    flex:0 0 34px;
    box-shadow:0 1px 4px rgba(0,0,0,0.06);
    display:inline-block;
}
.avatar img{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
}

 @media (max-width:860px){
.links{
    gap:18px;
    font-size:13px 
    }
.site-header{ padding:10px 14px }
 }
 @media (max-width:650px){

.links{
    display:none 
}
} */

a{
    text-decoration: none;
}

.site-header{
    font-family: "Vazirmatn", sans-serif;
    width:100%;
    height: 88px;
    background:#FFFFFF;
    padding:12px 28px;
    box-shadow: 0 2px 6px rgba(16,24,40,0.06);
    display:flex;
    align-items:center;
    justify-content:space-around;
    gap:30px;
 }

.logo{
    display:flex;
    align-items:center;
    gap:5px;
    text-decoration:none;
    color:#1e73ff;
    font-weight:700;
    font-size:18px;

}

.buttonof {
    text-decoration:none;
}

.links{
    display:flex;
    gap:40px;
    align-items:center;
}
.links a{
    text-decoration:none;
    color:#262626;
    font-size:14px;
    font-weight: 400;
    transition: color .15s ease, transform .12s ease;
}
.links a:hover{
    color:#1e73ff;
    transform:translateY(-1px);
}

.login a{
    color:#4179F0 ;
    font-size:14px;
    font-weight: 500;
    border: 1px solid #4179F0; 
    border-radius: 10px;
    padding: 10px 20px;
    transition: all 0.3s ease;
       
}
.login a:hover {
    background-color: #4179F0;
    border: 1px solid #4179F0;
    color: #FFFFFF;
}

.profile{
    display:flex;
    align-items:center;
    gap:10px;
}

.profile .name{
    font-size:12px;
    color:#3D3D3D;
}
.avatar{
    width:34px;
    height:34px;
    border-radius:50%;
    overflow:hidden;
    flex:0 0 34px;
    box-shadow:0 1px 4px rgba(0,0,0,0.06);
    display:inline-block;
}
.avatar img{
    width:100%;
    height:100%;
    object-fit:cover;
    display:block;
}

 @media (max-width:860px){
.links{
    gap:18px;
    font-size:13px 
    }
.site-header{ padding:10px 14px }
 }
 @media (max-width:650px){

.links{
    display:none 
}
}