<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/partials/header1.css">
    <title>Document</title>
</head>
<body>
    <header class="site-header">
        <div class="login" >      
            <a>ورود | ثبت نام</a>
        </div>
        <div class="links">
            <a href="/">خانه</a>
            <!-- <a href="/aboutus">تماس با ما</a>         -->
            <a href="/aboutus">درباره ما</a>        
            <a href="/questions">سوالات متداول</a>                
            <a href="/search">لیست پزشکان</a>
        </div>
        <a class="logo" href="/">
            <span class="logo-text"><span style="color: rgb(0, 0, 0);">دکتر </span>رزرو </span>
            <img  src="/images/logo.png">
        </a>
    </header>
</body>
</html>



<link rel="stylesheet" href="/partials/header1.css">

