.footer{
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}

.footer-top{
    display:flex; 
    gap:40px;
    width: 88%;
    align-items: flex-start;
    padding:36px 0;
    border-bottom:1px solid #E7E7E7}

.div3{
    flex:1;
    min-width:220px
}
.quick-links{
    color:#9aa0a6;
}
.quick-links h4{
    color:#3D3D3D;
    font-size:15px ; 
    font-weight:700 ;
    margin-top: 0px; 
    margin-bottom:30px
}
.quick-links ul{
    list-style:none;
    padding:0;
    margin:0;
    display:flex;
    flex-direction:column;
    gap:10px
}
.quick-links li{
    cursor:pointer;
    font-size: 13px; 
    font-weight:400;
}
.legal{
    color:#9aa0a6;
}
.legal h4{
    color:#3D3D3D;
    font-size: 15px;
    margin-top: 0px; 
    font-weight:700;
    margin-bottom:30px
}
.legal p{
    margin:0;
    font-size: 13px; 
    font-weight:400;
}
.cocontact{
    flex:0.7;
    min-width:220px
}
.contact{
    display:flex;
    flex-direction:column;
    gap:18px;
    align-items:center
}
.group{
    display:flex;
    flex-direction:column;
    gap:8px;
    margin-bottom: 8px; 
    align-items:center
}
.group h4{
    color:#3D3D3D;
    font-size: 15px;
    margin-top: 0px; 
    font-weight:700;
}
.group svg{
    opacity:0.9
}
    
.phones{
    font-size:13px;
    color:#9aa0a6;
    line-height:1.6;
    text-align:center
}
.code{
    flex:1.04;
    height: 224px; 
    min-width:220px
}
.subscribe-card{
    background:#f7f8fa;
    height: 224px;; 
    padding:30px 22px 22px 22px;
    border-radius:12px;
    box-shadow: 0 6px 18px rgba(15,23,42,0.04);;
    max-width:420px
}
    
.subscribe-card h4{
    margin:0 0 12px 0;
    color:#1f2937 ;
    font-size: 16px;
    font-weight: 400;
}
.input-row{
    display:flex;
    height: 43.5px;
    width: 93%; 
    align-items:center
}
    
.input-row input{
    flex:1;
    padding:10px 12px;
    height: 43.5px;    
    font-family:"Vazirmatn", sans-serif;
     border:1.5px solid #e6e9ef;
     border-radius:0px 6px 6px 0px;
     background:#ffffff
    }
    
.send-btn{
    background:#4179F0;
    color:#fff;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    height: 43.5px; 
    padding:12px 14px;
    margin-left:10px;
    border:none;
    display:inline-flex;
    align-items:center;
    justify-content:center
}
    
.desc{
    color:#9aa0a6;
    font-size:14px;
    margin-top:15px;
    line-height:1.7
} 
.footer-bottom{
    display:flex;
    width: 88%;
     align-items:center;
     justify-content:space-between;
     padding:20px 0
}
.brand{
    display:flex;
    align-items:center;
    gap:0px
}
.brand .logo{
    font-weight:700;
    color:#111827;
    font-size:18px
}
.brand .plus{
    margin-top: 12px;
}
.socials{
    display:flex;
    gap:5px;
    align-items:center
}
.socials button{
    border:none;
    background:transparent;
    cursor:pointer;
    padding:6px
}
.icon{
    width:22px;
    height:22px;
    opacity:0.95
}

@media (max-width:900px){
    .footer-top{flex-direction:column;gap:18px}
    .contact{flex-direction:row;justify-content:space-around;width:100%}
    .subscribe-card{max-width:100%}
    .footer-bottom{flex-direction:column;gap:12px;align-items:flex-start}
}