body{
    margin:0;
    font-family: "Vazirmatn", sans-serif;
}
section{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.text{
    text-align: end;
}
.text h2{
    font-weight: 500;
    font-style: Medium;
    color:#000000 ;
}
.text h3{
    font-weight: 500;
    font-style: Medium;
    color: #454545;
}
img{
    width: 600px;
}
.btn1 {
    display: inline-block;
    padding: 10px 30px;
    background-color:#FFFFFF ;
    color: #4179F0;
    border: 1px solid #4179F0;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    transition: all 0.3s ease;
}

.btn1:hover {
    background-color: #4179F0;
    border: 1px solid #4179F0;
    color: #FFFFFF;
}
@media (max-width:750px){
    section{
        flex-direction: column;
    }
    .text{
        order: 1;
        text-align:center;
    }
    .text h2{
        font-weight: 500;
        font-style:normal;
    }
    .text h3{
        font-weight: 500;
        font-style: Medium;
    }
    img{
        width: 400px;
         order: 0;
    }
    
}